// @import "~bootstrap/scss/bootstrap";
@import "fontawesome/css/fontawesome.css";
@import "fontawesome/css/solid.css";

#app {
    width: 100%;
    height: 98vh;
    position: relative;
}

#pad {
    width: 100%;
    height: 50%;
    position: absolute;
}

#pad canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.btn {
    background-color: #019606; /* Green */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: #4f6b02;
}

input.btn {
    padding: 0px 0px;
    margin: 0;
}

.btn.active {
    background-color: #015a04;
    border: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.controlDiv {
    width: 80px;
    margin: auto;
    position: absolute;
    top: 30px;
    left: 0;
}

.controlDiv.hidden {
    display: none;
}

.controlDiv>.btn {
    width: 100px;
    margin-top: 2;
}


